<?xml version="1.0" encoding="utf-8"?>
<z_data>
	<categories>
		<!--<category name="Application">
			<data>12</data>
			<data_label>applications</data_label>
			<info>Gmail 10 minutes</info>
		</category>-->
		<category name="Messaging">
			<data>29</data>
			<data_label>messages</data_label>
			<info>Top contact James</info>
		</category>
		<category name="Device">
			<data>28</data>
			<data_label>events</data_label>
			<info>Battery Low</info>
		</category>
		<category name="Media">
			<data>283</data>
			<data_label>songs</data_label>
			<info>Barry Manilow</info>
		</category>
		<category name="Locations">
			<data>6</data>
			<data_label>places</data_label>
			<info>Tapiola, Espoo</info>
		</category>
		<category name="Calendar">
			<data>6</data>
			<data_label>Events</data_label>
			<info>Meetings</info>
		</category>
		<category name="Application">
			<data>12</data>
			<data_label>applications</data_label>
			<info>Gmail 10 minutes</info>
		</category>
		<category name="Messaging">
			<data>29</data>
			<data_label>messages</data_label>
			<info>Top contact James</info>
		</category>
		<category name="Device">
			<data>28</data>
			<data_label>events</data_label>
			<info>Battery Low</info>
		</category>
		<category name="Media">
			<data>283</data>
			<data_label>songs</data_label>
			<info>Barry Manilow</info>
		</category>
		<category name="Locations">
			<data>6</data>
			<data_label>places</data_label>
			<info>Tapiola, Espoo</info>
		</category>
		<category name="Calendar">
			<data>9</data>
			<data_label>Events</data_label>
			<info>Meetings last</info>
		</category>
	</categories>
</z_data>